h1 { 
    text-align: center;
}
h4 { 
    text-align: center;
    padding: 0;
    margin: 0%;
}


.brandColor { 
    text-align: center;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 0;
    margin: 0%;
    color: #FFFFFF;
}

.subBrandColor { 
    text-align: center;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 0;
    margin: 0%;
    color: rgb(247, 37, 37);
}


div {
    margin-top: 10px;
  }

div.ex1 {
    background-image: url("./img/banner-background-vector.jpg");
    height: 530px;
    padding: 15px;
  }
  
div.ex2 { 
    background-image: url("./img/pngtree-eiffel-tower-travel\ \(2\).jpg");
    background-image:no-repeat;
    padding: 15px;
    height: 300px;
  } 

nav {
    text-align: center;
    padding-bottom: 100px;
  }
  
  /* Style the list inside the menu */
nav ul {
    padding: 0;
  }
nav li {
    display: inline;
    text-align: center;
  }
li a {
    color: rgb(248, 246, 246);
    font-size: larger;
    padding: 5px;
}

.container1 {
    position: relative;
    margin: 0 -10px;
    list-style: none;
    text-align: center;
  }

.centered {
    position: absolute;
    margin-left: auto;
    top: 40%;
    left: 35%;
    width: 650px;
    transform: translate(-50%, -50%);
  }

.gallery {
    flex: 0 0 218px;
    height: 570px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    padding-right: 30px;
    margin-left: 150px;
    margin-top: 0%;
    margin-bottom: 0%;
  }

.gallery .gallery-container .card{
    position: relative;
    display:inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}
.gallery .gallery-container {
    position: absolute;
    margin: 0 -10px;
    list-style: none;
  }

  
  .gallery .gallery-container .overlay {
    position:absolute;
    top:160PX;
    left:0%;
    right: 0%;
}

.gallery .gallery-container .overlay .left{
    display: inline-block;
    margin-left: 15px;
    color:white;
    font-weight: bold;

}

.gallery .gallery-container .overlay .right{
    display: inline-block;
    margin-left: 115Px;
    color:white;
    font-weight: bold;

}
.location,.day{
    text-align: left;
}
.price,.nop{
    text-align: right;
}

.overlay li {
    display: flex;
    color: ivory;
}

div .gallery .img .gallery-container :hover {
    border: 1px solid #777;
  }
  
/* .imgMargin {
    margin-right: 25px;
} */

div.gallery1{
    flex: 0 0 218px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    padding: 15px;
    margin-left: 20px;
  }

.gallery1-container{
    position: relative;
    margin: 0 -10px;
    list-style: none;
    text-align: center;
    color: whitesmoke;
  }

.gallery1 .gallery1-container .card{
    position: relative;
    display:inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}
.gallery1 .gallery1-container {
    /* position: absolute;
    margin: 0 -10px;
    list-style: none; */
    position: relative;
    margin: 0 -10px;
    list-style: none;
    text-align: center;
  }

  
.gallery1 .gallery1-container .overlay {
    position:absolute;
    top:0%;
    left:0%;
    right: 0%;
    background-image: linear-gradient( to top, rgb(0 0 0 / 37%)10%, rgb(0 0 0 / 22%) 60%, rgb(0 0 0 / 17%) 10% );
}

.gallery1 .gallery1-container .overlay .left{
    display: inline-block;
    margin-left: 15px;
    color:white;
    font-weight: bold;

}

.gallery1 .gallery1-container .overlay .right{
    display: inline-block;
    margin-left: 115Px;
    color:white;
    font-weight: bold;

}
.location,.day{
    text-align: left;
}
.price,.nop{
    text-align: right;
}

.button {
    background-color: rgb(243, 66, 12);
    border: black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
  }
  .checked {
    color: orange;
  }
  
/*=====================================
  Footer STYLES 
  ===================================*/
  #footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
    height: 100px;
}
  
  
  
  